<header class="flex">
    <!-- <div class="logo">
        <a>
            <img src="assets/images/qualis-fmea-logo.svg" alt="Qualis FMEA Logo" />
        </a>
    </div> -->

    <!-- <div class="short-nav">
        <ul>
            @for(nav of headerNavList; track nav) {
                <li>
                    <a (click)="gotoTargetPage(nav)">{{nav.name}}</a>
                    <button type="button" >
                        <i class="dl-close"></i>
                    </button>
                </li>
            }
        </ul>
    </div> -->
<header class="header-container">
  <h1 class="logo">BLAZE</h1>
  <div class="header-title">
    <h3>{{ currentPageTitle }}</h3>
  </div>
</header>





    <div class="quick-actions">
        <ul>
            <li>
                <a placement="start" ><i class="dl-dropdown"></i></a>
            </li>
            <li>
                <a placement="start" >
                    <i class="dl-alarm"></i>
                    <span class="count">3</span>
                </a>
            </li>
        </ul>
    </div>
</header>