// font
$primaryFont: 'Roboto', sans-serif;

// colors
$primaryColor: #30B9EF;
$secondaryColor: #29307C;
$lightColor: #ffffff;
$darkColor: #313131;
$fullDarkColor: #000000;
$yellow: #EFBD30;
$widgetBorderColor: #2680EB;
$widgetBgColor: #F6FBFF;
$lightBg: #F4F4F4;
$lightBorder: #CCCBCE;
$listBorder: #C6D2DF;
$gridHeader: #E1ECF5;
$gridLeftColor: #F6FBFF;
$tertiaryColor: #009A0F;
$textDanger: #e64949;

// dimentions
$tooltip-arrow-width: 0.8rem;
$tooltip-arrow-height: 0.4rem;