<div *ngIf="show" @fadeInOut [class]="showOverlay ? 'popup-overlay' : 'popup-no-overlay'">
  <div [ngClass]="{
    'alert-box': true,
    'success': type === 'success',
    'error': type === 'error',
    'warning': type === 'warning',
    'info': type === 'info'
  }">
    <span class="alert-message">{{ message }}</span>

    <div *ngIf="isConfirm" class="action-buttons">
      <button class="confirm-btn" (click)="confirm()">Confirm</button>
      <button class="cancel-btn" (click)="close()">Cancel</button>
      
    </div>

    <button *ngIf="!isConfirm" class="close-btn" (click)="close()">×</button>
  </div>
</div>