<div class="custom-dropdown-holder">
    @if(!multiSelectDropdown) {
        <div class="p-10">
            <div class="search-area">
                <input 
                    type="text" 
                    class="form-control" 
                    #customDropdownFilter 
                    id="customDropdownFilter"
                    (input)="filterResList()" 
                    placeholder="{{'IDS_SEARCH' | translate}}" 
                />
            </div>
            <div class="custom-dropdown-list">
                <select class="form-control" multiple (change)="onSelectionChange($event)">
                    @for(dataList of filterArrayList; track dataList) {
                        <option [value]="dataList.name">{{dataList.name}}</option>
                    }
                </select>
            </div>
            <div class="action">
                <button type="button" class="secondary" (click)="clearDropdown()">{{'IDS_CLEAR' | translate}}</button>
            </div>
        </div>
    } @else {
        <div>
            @for(chk of chkList; track chk) {
                <div class="chk-box">
                    <dx-check-box
                        text="{{chk.text}}"
                        [(value)]="chk.val"
                        [enableThreeStateBehavior]="false"
                        (onValueChanged)="onChkChange(chk)"
                    >
                    </dx-check-box>
                </div>
            }
        </div>
    }
</div>